.App {
    height: 100vh;
    background-image: url('../public/Images/bg.jpg');
    background-color: cyan;
}

.pageHeadingDiv{
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
}

.mainHeading{
    font-size: 65px;
}

.subHeading{
    font-size: 20px;
}
.lineImage{
    transform: rotate(45deg);
    width: 100px;
    height: 100px;
}

@media only screen and (max-width: 500px) {
    .mainHeading{
        font-size: 35px;
    }
    .subHeading{
        font-size: 15px;
    }
}